.card {
  background-color: white;
  padding: 20px 20px;
  border-radius: 10%;
  font-size: 1rem;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  transition: all 1s;
}

.show {
  opacity: 1;
}

.card:hover {
  opacity: 0.7;
  cursor: pointer;
  transform: scale(1.05);
}


.card__image {
  transform: scale(0.6);
  height: 50%
}

.card__info {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card__name {
  color: black;
}

.card__price {
  color: black;
}
